@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

html,
body,
#root {
    font-family: 'Inter', sans-serif;
    --g-color-base-brand: #26a1db;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}
