$block: '.select';

@keyframes scaleIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#{$block} {
  width: 100%;
  box-sizing: border-box;
  
  &__title {
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: 500;
  }

  &__custom-select {
    &__control {
      padding: 5px 10px !important;
      cursor: pointer !important;
      background-color: #F4F4F4 !important;
      border-radius: 9px !important;
      &--menu-is-open {
        border-color: var(--g-color-base-brand) !important;
      }
    }
  
    &__option {
      cursor: pointer !important;
      border-radius: 6px !important;
  
      &--is-selected {
        background-color: var(--g-color-base-brand) !important;
      }
    }
  
    &__menu {
      color: black !important;
      animation: scaleIn .2s ease-in-out;
      border-radius: 9px !important;
    }
  }
}

@media screen and (max-width: 830px) {
  #{$block} {
    &__title {
      font-size: 16px;
    }

    &__custom-select {
      &__control {
        font-size: 16px !important;
        padding: 3px 10px !important;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #{$block} {
    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__form {
      padding: 10px 10px;
      font-size: 12px;
    }

    &__custom-select {
      &__control {
        font-size: 12px !important;
        padding: 0 3px !important;
      }
    
      &__option {
        font-size: 12px !important;
      }
    }
  }
}
